.left{
  width :30%;
  margin-left:10%;
  margin-top: 5%;
  /* height: 30%; */
  float:left;
  /* border: 1px solid black; */
}
.right{
  /* width :30%; */

  margin-left:45%;
  margin-top: 3%;
  /* height: 30%; */
  /* border: 1px solid black; */
}
.left1{
  margin-left: 10%;
  clear: both;
  margin-top: 4%;


}
.right1{
  margin-left: 45%;
  margin-top: 2%;
}
